parameters:
    level: 5
    paths:
        - lib
        = extras
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    type_coverage:
         return: 90
         param: 90
         property: 90
         declare: 90

